body {
     background-color: #E8E7EB !important;
}

.colorB{
     background-color: #2851A3 !important;
}

.crdimg{
     max-width: 400px;
     min-width: 100px;
}

textarea {
     resize: none;
}

.cmrRetro{
     padding: 5px;
     z-index: 2;
}

.cmrRetro:hover{
     background-color: rgba(80, 80, 80, 0.3);
     border-radius: 50%;
     z-index: 1;
}
