body {
     background-color: #E8E7EB !important;
}

.colorB{
    background-color: #2851A3 !important;
}

.crdimg{
     max-width: 500px;
     min-width: 200px;
}

textarea {
   resize: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.4s;
}

.imgCustom {
  border: none;
  padding: 2px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
